[defaults]
timeout = 60
host_key_checking = False

# Point to your local plugins folder
callback_plugins = ./callback_plugins

# Whitelist our new plugin
callbacks_enabled = audit_logger

# Keep the default callback
stdout_callback = ansible.builtin.default

[callback_default]
# Configure the default callback to print YAML
result_format = yaml

[ssh_connection]
retries = 3
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=60
